{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <h2>Bienvenue sur Catalogue App</h2>
        <div class="row mt-4">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Catalogues</h5>
                        <p class="display-4">{{ total_catalogues }}</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Produits</h5>
                        <p class="display-4">{{ total_produits }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}